parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - phpstan-autoload.php
    ignoreErrors:
        -
            message: '#^Call to an undefined method ReflectionClass\:\:getAttributes\(\)\.$#'
            count: 1
            path: src/ConfigurationProvider/AttributeConfigurationProvider.php

        -
            message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:addDefaultsIfNotSet\(\)\.$#'
            count: 1
            path: src/DependencyInjection/Configuration.php

        -
            message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:find\(\)\.$#'
            count: 1
            path: src/DependencyInjection/Configuration.php

        -
            message: '#^Call to an undefined method Monolog\\Handler\\HandlerInterface\:\:pushProcessor\(\)\.$#'
            count: 1
            path: src/HandlerFactory/AbstractHandlerFactory.php

        -
            message: '#^Call to an undefined method Monolog\\Handler\\HandlerInterface\:\:setFormatter\(\)\.$#'
            count: 1
            path: src/HandlerFactory/AbstractHandlerFactory.php
